/* FONTS */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
/* BLOCKS */
/* GLOBAL */
:root {
  --primary-bg-color: #000;
  --secondary-bg-color: #181818;
  --text-color: #000;
  --main-gray: #c0c0c0;
  --secondary-text-color: #fff;
  --main-font-family: "Poppins","Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*, *::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed #fff;
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-gray);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  cursor: pointer;
  display: inline-block;
  padding: 11px 20px;
  border-radius: 14px;
  background-color: var(--secondary-text-color);
  color: var(--text-color);
}

/* RETINA BGS */
/* SITE HEADER */
.site-header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: var(--secondary-bg-color);
  padding: 20px 0;
}

.site-header__container {
  display: flex;
  align-items: center;
}

/* LOGO */
.site-header__logo {
  margin-right: auto;
}

.logo {
  display: flex;
}

.logo__img {
  width: 128px;
  height: 31px;
}

/* SITENAV */
.sitenav {
  margin-right: 32px;
}

.sitenav__list {
  display: flex;
  align-items: center;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link {
  color: var(--secondary-text-color);
  font-size: 15px;
  line-height: 1.3;
}

.hero {
  background: url("../images/hero-bg.jpg") no-repeat center/cover;
  height: 100vh;
  padding-bottom: 60px;
  position: relative;
}
.hero::before {
  content: "";
  display: inline-block;
  background: url("../images/photo-iceland.png") no-repeat center/contain;
  background-size: contain;
  width: 295px;
  height: 16px;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.hero__content {
  text-align: center;
  max-width: 600px;
}

.hero__title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.hero__subtitle {
  font-size: 54px;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-bottom: 18px;
}/*# sourceMappingURL=main.css.map */