/* CLIENTS */
.clients {
  padding: 120px 0 100px;
}

.clients__content {
  text-align: center;
  margin-bottom: 80px;
}

.clients__title {
  font-size: 40px;
  line-height: 1.1;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

.clients__text {
  font-size: 24px;
  line-height: 1.2;
}

/* CLIENTS LOGO */
.clients__logo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -100px;
  margin-bottom: -35px;
}

.clients__logo-item {
  margin-left: 100px;
  margin-bottom: 35px;
}