/* HERO */
.hero {
  background: url("../images/hero-bg.jpg") no-repeat center / cover;
  height: calc(100vh - 82px);
  padding-bottom: 70px;
  position: relative;
  margin-bottom: 110px;

  @media only screen and (max-width: $tablet-l) {
    height: calc(100vh - 70px);
  }

  &::before {
    content: "";
    display: inline-block;
    background: url("../images/photo-iceland-info.png") no-repeat center / contain;
    background-size: contain;
    width: 295px;
    height: 16px;
    position: absolute;
    right: 40px;
    bottom: 40px;

    @media only screen and (max-width: $tablet-l) {
      right: 20px;
      bottom: 20px;
    }
  }
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.hero__content {
  text-align: center;
  max-width: 600px;
}

.hero__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.hero__subtitle {
  font-size: 54px;
  line-height: 1.1;
  color: var(--secondary-text-color);
  margin-bottom: 18px;
}
