.hero {
  background: url("../images/hero-bg.jpg") no-repeat center / cover;
  height: 100vh;
  padding-bottom: 60px;
  position: relative;

  &::before {
      content: "";
      display: inline-block;
      background: url("../images/photo-iceland.png") no-repeat center / contain;
      background-size: contain;
      width: 295px;
      height: 16px;
      position: absolute;
      right: 40px;
      bottom: 40px;
    }
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.hero__content {
  text-align: center;
  max-width: 600px;
}

.hero__title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.hero__subtitle {
  font-size: 54px;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin-bottom: 18px;
}