/* PHOTOGRAPHY ART */
.photography-art {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  padding-right: 60px;
  position: relative;
  background: no-repeat center / cover;

  @media only screen and (max-width: $mobile) {
    padding: 0;
    text-align: center;
  }

  &::before {
    content: "";
    display: inline-block;
    background: no-repeat center / contain;
    background-size: contain;
    width: 295px;
    height: 16px;
    position: absolute;
    right: 40px;
    bottom: 40px;

    @media only screen and (max-width: $tablet-l) {
      right: 20px;
     bottom: 20px;
    }
  }

  &--fuji {
    background-image: url(../images/mount-fuji-bg.jpg);

    &::before {
      background-image: url("../images/photo-japan-info.png");
    }
  }

  &--monstera {
    background-image: url(../images/monstera-leafs-bg.jpg);

    &::before {
      background-image: url("../images/photo-costarica-info.png");
    }
  }

  &--himalay {
    background-image: url(../images/himalay-bg.jpg);

    &::before {
      background-image: url("../images/photo-nepal-info.png");
    }
  }
}

.photography-art__content {
  max-width: 300px;
  margin-left: auto;

  
  @media only screen and (max-width: $mobile) {
   max-width: none;
   width: 80%;
    margin: 0 auto;
  }
}

.photography-art__title {
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 2px;
}